header {
  background-color: #3c3c3c;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header h1 {
  font-size: 30px;
  color: white;
}

header input[type="text"] {
  width: 1000px;
  height: 30px;
}

main {
  position: relative;
}

.movies {
  /* position: relative; */
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.card_style_1 {
  margin-top: 10px;
  border-radius: 30px;
  background-color: white;
  margin-left: 20px;
  border: 5px solid black;
  overflow: hidden;
}

.card_style_1 img {
  pointer-events: none;
}

.card_style_1 h2 {
  pointer-events: none;
}

.card_style_1 p {
  pointer-events: none;
}

.modal {
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  background-color: white;
  width: 700px;
  height: 1000px;
  margin: 0 auto;
  z-index: 2;
  border: 3px solid black;
  border-radius: 30px;
  display: none;
}

.modal div {
  overflow: scroll;
}

a {
  text-decoration: none;
}
